<div class="col-10 col-lg-8">
    <div class="experience-entry-heading">
        {{ $position:= index .positions 0 }}
        <div class="row align-items-start justify-content-end d-flex">
            <div class="col-md-6">
                <h6>{{ if .company.url }}<a href={{.company.url}} title="{{ .company.name }}" target="_blank" rel="noopener">{{ .company.name }}</a>{{ else }}{{ .company.name }}{{ end }}</h6>
            </div>
            <div class="col-md-6 text-md-right">
                <h6 class="text-muted">{{ $position.start }} - {{ if $position.end }}{{ $position.end }}{{ else }}{{ i18n "present" }}{{ end }}</h6>
            </div>
            <div class="col-md-6">
                <h6>{{ $position.designation }}</h6>
            </div>
            <div class="col-md-6 text-md-right">
                <h6 class="text-muted">{{ .company.location }}</h6>
            </div>
        </div>
    </div>
    <!-- Add company overview -->
    <p>{{ .company.overview | markdownify }}</p>
    <!-- Add the responsibilities handled at this position -->
    <h6 class="text-muted">{{ i18n "responsibilities" }}</h6>
    <ul class="justify-content-around">
    {{ range $position.responsibilities }}
        <li>{{ . | markdownify }}</li>
    {{ end }}
    </ul>
    <div class="text-left">
    {{ range $position.tags }}
        <span class="badge badge-success">{{ . | markdownify }}</span>
    {{ end }}
    </div>
    <p></p>
</div>
